.register-progress {
  width: 100%;
  height: 40px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-progress-ball {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(25, 118, 210, 1);
  border-radius: 50%;
}

.register-progress-bar {
  width: 94px;
  height: 1px;
  background-color: #42A5F5;
  border-radius: 2px;
}

.filled {
  background-color: rgba(25, 118, 210, 1);
}

@media (max-width: 700px) {

}
