.home-page {
  background: #F0F2F5;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.home-body {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wellcome-card {
  height: 400px;
  width: 338px;
}

.wellcome-image {
  height: 156px;
  width: 100%;

  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wellcome-card-image {
  width: fit-content;
  height: fit-content;
  max-height: 100px;
}

.wellcome-message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.wellcome-message-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.wellcome-message-text {
  padding-left: 8px;
}

@media (max-width: 700px) {

}
