.header {
  width: 100%;
  height: 80px;
  padding: 16px;

  display: flex;
  align-items: center;

  background-color: #f5f5f5;

  border-bottom: 2px solid gray;
}

.header-Container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-presentation {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
}

.header-image-button {
  width: 100%;
  height: 100%;

  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}

.header-image-button:hover {
  background-color: #e3f2fd5b;
}

.header-image {
  max-height: 100%;
  max-width: 280px;

  object-fit: contain;
}

.header-card-image {
  height: 100%;
}

.header-company-name {
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: start;

  margin-left: 64px;
}

.user-icon-image {
  height: 100%;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.company-name {
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  height: 100%;
  min-width: 300px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu-item {
  height: 100%;
  width: fit-content;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu-item-button {
  background: none;
  width: 100%;
  padding: 8px;
  height: 80px;
  border: none;
  border-bottom: 4px solid transparent;
}

.header-menu-item-button:hover {
  cursor: pointer;
  background-color: #e3f2fd5b;
  border: none;
  border-bottom: 4px solid rgb(36, 96, 155);

  transition: border-color 0.1s linear;
}

.header-buttons {
  width: 200px;

  display: flex;
  justify-content: space-evenly;
}

.car-lembrete-card {
  position: absolute;
  left: 75%;
  top: 63px;
}

.lembrete-card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 8px;
  border: 1px solid blue;
}

.lembrete-card-titulo {
  font-size: 14px;
  font-weight: 700;
}
