.caixa-page {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: #F0F2F5;

  display: flex;
  flex-direction: column;
}

.caixa-body {
  height: 100%;
  width: 100%;
  min-height: 500px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.caixa-box-header { 
  width: 100%;
  height: 10%;
  max-height: 80px;
  background-color: rgb(36, 96, 155);

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa-header-text {
  font-weight: 700;
  font-size: 32px;
  color: white;
}

.caixa-box-body {
  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa-controler {
  height: 100%;
  width: 30%;
  padding: 16px 24px;
  border-right: 2px solid #585858;
  display: flex;
  flex-direction: column;
}

.movimentacao-card-alert {
  display: flex;
}

.caixa-controler-title {
  font-size: 24px;
  font-weight: 600;
  height: 64px;
  padding: 16px;

  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movimentacao-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.type-tree{
  height: 79px;
}

.movimentacao-form-switches-box{
  width: 100%;
  height: 48px;

  font-size: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-switch-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-inputs-box{ 
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-box-type2 {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.type-tres{
  width: 100%;
  height: 86px;
  padding: 8px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input-label {
  width: 100%;
  max-width: 280px;
  color: #585858;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-control {
  width: 100%;
  max-width: 280px;
}

.form-input-2{
  width: 100%;
  max-width: 280px;
}

.caixa-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  height: 100%;
  width: 70%;
}

.movimentacao-form-button-group {
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.caixa-lista {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 492px;
}

.caixa-footer {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 16px;
  font-weight: 600;

  width: 100%;
  height: 80px;
  background-color: rgb(36, 96, 155);
}

.footer-value-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 42px;
  width: 150px;
  background-color: white;
  border-radius: 3px;

  padding: 16px;

  font-size: 16px;
  font-weight: 500;
  color: black;
}

.footer-value-box{
}

.menu-list{
  max-height: 200px;
}

.radio-group-tipo-entrada{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.titulo-tipo-movimentacao{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

@media (max-width: 700px) {

}
