.login-page {
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(25, 118, 210, 1) 100%,
    rgb(36, 96, 155) 100%
  );
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: white;
  width: 655px;
  height: 560px;
  padding: 32px;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-container {
  width: 60%;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
}

.login-card-image {
  width: 100%;
  padding-bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 100%;
  max-width: 280px;

  object-fit: contain;
}

.login-card-alert {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-alert {
  width: 100%;
}

.login-card-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  width: 100%;
  padding: 16px 0px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-box {
  width: 100%;
  height: 86px;
  padding: 8px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input {
  width: 100%;
  max-width: 280px;
  padding-bottom: 14px 0px;
}

.form-buttons {
  width: 100%;
  max-width: 302px;
  margin: 8px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.entrar-button {
  width: 100%;
}

.divisory-bar {
  width: 100%;
  margin: 16px 0px;
  border-top: 1px solid gray;
}

.register-box {
  padding: 16px 0px;

  font-size: 14px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-text {
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .login-page {
    padding: 3%;
  }

  .login-card {
    background-color: white;

    width: 100%;
    min-width: fit-content;
    padding: 16px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
  }

  .login-card-container {
    width: 80%;
  }

  .login-card-image {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 100%;
    max-width: 280px;

    object-fit: contain;
  }
}
