.movimentacao-card {
    width: 100%;
    min-height: 50px;
    max-height: 50px;

    font: 12px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid rgb(184, 184, 184);
}

.card-color{
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.black{
    border: 1px solid rgb(184, 184, 184);
}

.green{
    background-color: #28b836;
    border: 1px solid #28b836;
}

.red{
    background-color: #bb2727;
    border: 1px solid #bb2727;
}

.card-descriptrion{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 20%;
    padding: 8px;

}

.card-category{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 16%;
    padding: 8px;
}

.card-date{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 16%;
}

.card-value{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 16%;
}

.fontGreen{
    color: #28b836;
}

.fontRed{
    color: #bb2727
}

.card-bar{
    height: 90%;
    width: 1px;
    border-radius: 2px;
    background-color: #aaaaaa;
}

.button-icon {
    background: none;
    border: none;
    cursor: pointer;

    border-radius: 8px;

    height: 90%;
    width: 42px;
}

.button-icon:hover {
    background-color: #d3d3d39d;
}

.image-button-icon{
    object-fit: fill;
    height: 24px;
    width: 24px;
}

.cart-text-word{
    padding: 4px;
}