.register-page {
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(25, 118, 210, 1) 100%
  );
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  background-color: white;
  width: 655px;
  min-height: 560px;
  padding: 32px;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card-container {
  width: 85%;
  height: 100%;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
}

.register-card-image {
  width: 100%;
  padding-bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-titulo{
  font-size: 24px;
  font-weight:600;
  width: 100%;
  color: #3A4652;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.register-card-alert {
  padding: 8px 0px;
}

.register-form-input {
  width: 100%;
}

.controller-rg-area-atuacao {
  width: 100%;
}

.rg-area-atuacao-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rg-area-atuacao {
  width: 100%;
}

.register-form-buttons {
  width: 100%;
  padding: 8px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 700px) {

}
